# Лабораторная работа

Баллы за секции:
- *Задание 1* - 10 баллов
- *Задание 2* - 20 баллов
- *Задание 3* - 30 баллов
- **Итого** - 60 баллов

Оценка за лабу $ = \frac{score}{6}$

## Внимание! Attention! Achtung!

**Данная лабораторная работа является блокирующей**, т.е. если лабораторная работа не выполнена, то оценка за курс - неуд.

Лабораторная работа считается выполненной, если **за каждое из заданий получено не менее 2 баллов**.

## Формат сдачи лабораторной работы

Данная лабораторная работа сдается так же, как и проект - заполняете данный ноутбук, отправляете его через GitHub с указанием проверяющего.

**Ассистенты не будут запускать ячейки кода, а смотреть на выведенный результат и код. Если ячейка кода не запущена - балл не ставится, даже при правильно написанном коде.**

***(Комментарии что курс по Python легче чем по C++ учтены)***

>**Примечание**
>
>Данные задания вдохновлены предметом "Введение в анализ данных" 2 курса, по итогу которого идёт отбор на DS-поток. Если вы видите себя в смежных областях, советуем выполнить данную лабораторку по максимуму.

In [266]:
# Всё необходимое для выполнения данной лабораторной работы!
import requests
from time import sleep

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Задание 1. Парсинг - 10 баллов

В этом задании Вам предстоит работать с API сайта <a target="_blank" href="hh.ru">hh.ru</a>. Документация доступна по <a target="_blank" href="https://github.com/hhru/api/blob/master/docs/vacancies.md#search">ссылке</a>.

<b><font color="red">Внимание!</font> При работе с API не забывайте делать паузы между запросами, иначе вас забанят. Просрочка дедлайна по этой причине не принимается!</b>

**Задача:**
1. выбрать 5 интересующих вас профессий (не смежных, т.е. Аналатик и Data Engineer не считается корректным)
2. затем получить доступные по данным профессиям вакансии в Москве и выделить их физические координаты
3. нанести полученные координаты на карту местоположения компаний

*Пример запроса для профессии:*

In [267]:
URL = 'https://api.hh.ru/vacancies'

params = {
    'text': "Физик-ядерщик",
    'area': 1,
    'page': 0,
    'per_page': 10
}

data = requests.get(URL, params).json()

Если Ваш запрос прошел успешно, то вы получите следующие ключи (значения данных ключей вы найдете по ссылке на документацию):

In [268]:
data.keys()

dict_keys(['items', 'found', 'pages', 'per_page', 'page', 'clusters', 'arguments', 'alternate_url'])

>**Примечание**
>
>В `data['pages']` будет хранится количество найденных страниц вакансий - для корректного сбора данных Вам нужно пробежать по **КАЖДОЙ** странице и сделать соотвествующие запросы.

>**Совет**
>
>Посмотрите что хранится в `items`!

(1 балл) Выберете для нас 5 наиболее интересных специальностей и получите по ним имеющиеся вакансии:

In [269]:
URL = 'https://api.hh.ru/vacancies'
data = []
def req(params):
    pages = requests.get(URL, params).json()['pages']
    for page in range(pages):
        params['page'] = page
        vacancies = requests.get(URL, params).json()['items']
        for vac in vacancies:
            data.append(vac)

params1 = {
    'text': "олимпиадная математика",
    'experience': {"noExperience", "between1And3"},
    'area': [1, 2019],
    'page': 0,
    'per_page': 10,
    'working_time_modes': [{"max_count": 3}, {}],
    'employment' : 'part'
}

params2 = {
    'text': "python",
    'experience': "noExperience",
    'area': 1,
    'page': 0,
    'per_page': 10,
    'employment' : {'probation','part'}
}

params3 = {
    'text': "game developer",
    'experience': "noExperience",
    'area': 1,
    'page': 0,
    'per_page': 10,
    'employment' : {'probation','part'}
}

params4 = {
    'text': "EdTech",
    'experience': "noExperience",
    'area': 1,
    'page': 0,
    'per_page': 10,
    'employment' : {'probation','part','full'}
}

params5 = {
    'text': "дегустатор", # "протаптыватель тропинок"
    'experience': "noExperience",
    'area': [1, 2019],
    'page': 0,
    'per_page': 10,
}

req(params1)
req(params2)
req(params3)
req(params4)
req(params5)
df = pd.DataFrame(data)
df.head(10)

,id,premium,name,department,has_test,response_letter_required,area,salary,type,address,...,contacts,schedule,working_days,working_time_intervals,working_time_modes,accept_temporary,professional_roles,accept_incomplete_resumes,experience,employment
0,80464980,False,Педагог по подготовке к школе (учитель младших...,None,False,False,"{'id': '2034', 'name': 'Красногорск', 'url': '...",None,"{'id': 'open', 'name': 'Открытая'}","{'city': 'Красногорск', 'street': 'Успенская у...",...,None,None,[],[],[],False,"[{'id': '132', 'name': 'Учитель, преподаватель...",False,"{'id': 'between1And3', 'name': 'От 1 года до 3...","{'id': 'part', 'name': 'Частичная занятость'}"
1,79739233,False,Преподаватель IT-дисциплин (младшая школа),None,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'from': None, 'to': 120000, 'currency': 'RUR'...","{'id': 'open', 'name': 'Открытая'}",None,...,None,None,"[{'id': 'only_saturday_and_sunday', 'name': 'Р...","[{'id': 'from_four_to_six_hours_in_a_day', 'na...",[],False,"[{'id': '132', 'name': 'Учитель, преподаватель...",False,"{'id': 'noExperience', 'name': 'Нет опыта'}","{'id': 'part', 'name': 'Частичная занятость'}"
2,79111520,False,"Преподаватель IT дисциплин (Мытищи, Пушкино, К...",None,False,False,"{'id': '2041', 'name': 'Мытищи', 'url': 'https...","{'from': None, 'to': 120000, 'currency': 'RUR'...","{'id': 'open', 'name': 'Открытая'}","{'city': 'Мытищи', 'street': 'Юбилейная улица'...",...,None,None,"[{'id': 'only_saturday_and_sunday', 'name': 'Р...","[{'id': 'from_four_to_six_hours_in_a_day', 'na...","[{'id': 'start_after_sixteen', 'name': 'Можно ...",False,"[{'id': '132', 'name': 'Учитель, преподаватель...",False,"{'id': 'noExperience', 'name': 'Нет опыта'}","{'id': 'part', 'name': 'Частичная занятость'}"
3,79679296,False,Стажер SQL/Python,None,False,True,"{'id': '1', 'name': 'Москва', 'url': 'https://...",None,"{'id': 'open', 'name': 'Открытая'}","{'city': None, 'street': None, 'building': Non...",...,None,None,[],[],[],False,"[{'id': '96', 'name': 'Программист, разработчи...",False,"{'id': 'noExperience', 'name': 'Нет опыта'}","{'id': 'part', 'name': 'Частичная занятость'}"
4,80376007,False,Стажер в отдел разработки системного ПО,None,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'from': 40000, 'to': 40000, 'currency': 'RUR'...","{'id': 'open', 'name': 'Открытая'}","{'city': 'Москва', 'street': 'улица Двинцев', ...",...,None,None,[],[],[],False,"[{'id': '96', 'name': 'Программист, разработчи...",False,"{'id': 'noExperience', 'name': 'Нет опыта'}","{'id': 'probation', 'name': 'Стажировка'}"
5,80253990,False,Data scientist (intern),None,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...",None,"{'id': 'open', 'name': 'Открытая'}","{'city': 'Москва', 'street': 'Варшавское шоссе...",...,None,None,[],"[{'id': 'from_four_to_six_hours_in_a_day', 'na...",[],True,"[{'id': '165', 'name': 'Дата-сайентист'}]",False,"{'id': 'noExperience', 'name': 'Нет опыта'}","{'id': 'probation', 'name': 'Стажировка'}"
6,79526414,False,Стажер-разработчик,None,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...",None,"{'id': 'open', 'name': 'Открытая'}",None,...,None,None,[],[],[],False,"[{'id': '96', 'name': 'Программист, разработчи...",False,"{'id': 'noExperience', 'name': 'Нет опыта'}","{'id': 'probation', 'name': 'Стажировка'}"
7,79169796,False,Стажер - разработчик Python/Аналитик,"{'id': '219464-219464-it', 'name': 'Первая Гру...",False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...",None,"{'id': 'open', 'name': 'Открытая'}","{'city': 'Москва', 'street': 'Новорязанская ул...",...,None,None,[],"[{'id': 'from_four_to_six_hours_in_a_day', 'na...",[],False,"[{'id': '96', 'name': 'Программист, разработчи...",False,"{'id': 'noExperience', 'name': 'Нет опыта'}","{'id': 'probation', 'name': 'Стажировка'}"
8,79742166,False,Программист-стажер Data Scientist/Python,None,True,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...",None,"{'id': 'open', 'name': 'Открытая'}","{'city': 'Москва', 'street': 'Беговая улица', ...",...,None,None,[],[],[],False,"[{'id': '96', 'name': 'Программист, разработчи...",False,"{'id': 'noExperience', 'name': 'Нет опыта'}","{'id': 'probation', 'name': 'Стажировка'}"
9,79190614,False,Data Engineering Intern,"{'id': '4949-4949-stud', 'name': '«Procter & G...",False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'from': 85000, 'to': None, 'currency': 'RUR',...","{'id': 'open', 'name': 'Открытая'}","{'city': 'Москва', 'street': 'Ленинградское шо...",...,None,None,[],[],[],False,"[{'id': '40', 'name': 'Другое'}]",False,"{'id': 'noExperience', 'name': 'Нет опыта'}","{'id': 'probation', 'name': 'Стажировка'}"

(1 балл) Посчитайте сколько всего найдено вакансий:

In [270]:
len(df.index)

121

(1 балл) Создайте структуру данных, которая будет хранить в себе имя компании и ее координаты (широта и долгота):

In [271]:
class Company:
    name = ""
    lat = None
    lng = None
    def __init__(self, line):
        self.name = line['employer']['name']
        if line['address'] != None:
            self.lat, self.lng = line['address']['lat'], line['address']['lng']

(1 балл) Создайте экземпляр этой структуры данных для каждой компании, которая выставила вакансию:

In [272]:
companies = []
for line in df.iloc:
  companies.append(Company(line))

(1 балл) Найдите количество вакансий, у которых заданы координаты (значения данных может быть пустым):

In [273]:
ans = 0
for comp in companies:
    if comp.lat != None and comp.lng != None:
        ans+=1
ans

47

(1 балл) Отберите вакансии, которые расположены в пределах МКАД (можно грубо):

In [274]:
# your code here

(1 балл) Постройте график в координатах "широта-долгота" для отображения вакансий внутри МКАД (не забывайте прописать прозрачность, чтобы увидеть скопления):

In [275]:
# your code here

(1 балл) Нанесите все точки вакансий на карту (для этого вам поможет данная <a target="_blank" href="https://plotly.com/python/mapbox-layers/">документации</a>, не забудьте про прозрачность и центрирование по Москве):

In [276]:
# your code here

(2 балла) **Сделайте выводы о проделанной работе:**

>*Подсказки для маленьких: Что вы можете сказать про районы Москвы? Что вы можете сказать про зарплаты? Что вы можете сказать про спрос?*

Ваши выводы здесь :)

## Задание 2. Анализ данных - 20 баллов

Вам предстоит проанализировать датасет, содержащий информацию об бриллианта, их стоимости и остальных характеристиках.



Поясним значения хранящиеся в колонках:
*   `cut` - огранка бриллианта (относится к одной из примерно 10 наиболее распространенных)
*   `color` - цвет бриллианта, прозрачные бриллианты имеют градацию `D-Z`, "более высокие" буквы - более желтоватые, но часто имеют лучшие значения, поскольку цвет трудно определить один раз в кольце
*   `clarity` - чистота бриллианта, наличие включений (внутренних дефектов), чем меньше и мельче, тем лучше
*   `carat_weight` - масса бриллианта (слабо связана с размером бриллианта, т.к. огранка и качество огранки, как правило, играют большую роль)
*   `cut_quality` - качество ограники по системе оценки GIA Cut
*   `lab` - лаборатория оценивания
*   `meas_length` - длина бриллианта
*   `meas_width` - ширина бриллианта
*   `meas_depth` - глубина бриллианта
*   `total_sales_price` - цена бриллианта в долларах.
*    **и прочие колонки**

Скачаем данные:

In [277]:
!gdown 1uIWeZFz3ElB5p1brBVEwJBHTbjXNPdfU

"gdown" �� ���� ����७��� ��� ���譥�
��������, �ᯮ��塞�� �ணࠬ��� ��� ������ 䠩���.

Создадим DataFrame:

In [278]:
diamonds = pd.read_csv("diamonds.csv")

(0.5 балла) Выведете первые 5 строк датасета:

In [279]:
diamonds.head(5)

,Unnamed: 0,cut,color,clarity,carat_weight,cut_quality,lab,symmetry,polish,eye_clean,...,meas_depth,girdle_min,girdle_max,fluor_color,fluor_intensity,fancy_color_dominant_color,fancy_color_secondary_color,fancy_color_overtone,fancy_color_intensity,total_sales_price
0,0,Round,E,VVS2,0.09,Excellent,IGI,Very Good,Very Good,unknown,...,1.79,M,M,unknown,NaN,unknown,unknown,unknown,unknown,200
1,1,Round,E,VVS2,0.09,Very Good,IGI,Very Good,Very Good,unknown,...,1.78,STK,STK,unknown,NaN,unknown,unknown,unknown,unknown,200
2,2,Round,E,VVS2,0.09,Excellent,IGI,Very Good,Very Good,unknown,...,1.77,TN,M,unknown,NaN,unknown,unknown,unknown,unknown,200
3,3,Round,E,VVS2,0.09,Excellent,IGI,Very Good,Very Good,unknown,...,1.78,M,STK,unknown,NaN,unknown,unknown,unknown,unknown,200
4,4,Round,E,VVS2,0.09,Very Good,IGI,Very Good,Excellent,unknown,...,1.82,STK,STK,unknown,NaN,unknown,unknown,unknown,unknown,200

(0.5 балла) Найдите количество бриллиантов всего в данном датасете:

In [280]:
len(diamonds)

219703

(0.5 балла) Выведите максимальную и минимальную цену бриллианта в формате `номер - цена`:

In [281]:
diamonds_min_and_max = [diamonds['total_sales_price'].min(), diamonds['total_sales_price'].max()]
for number_index in range(len(diamonds_min_and_max)):
    for i in diamonds[diamonds['total_sales_price'] == diamonds_min_and_max[number_index]].index:
        print(i, diamonds.iloc[i]['total_sales_price'], sep = ' - ')

0 - 200
1 - 200
2 - 200
3 - 200
4 - 200
5 - 200
6 - 200
7 - 200
8 - 200
9 - 200
10 - 200
11 - 200
12 - 200
13 - 200
14 - 200
15 - 200
16 - 200
17 - 200
18 - 200
19 - 200
20 - 200
21 - 200
22 - 200
219702 - 1449881

(1 балл) Посчитайте количество пропусков (пропуском считается значение `unknown` или `None`):

In [282]:
ans = 0
for name_column in diamonds.columns.values.tolist():
     ans += diamonds[name_column].value_counts().get('unknown', 0)
ans += diamonds.isnull().sum().sum()
ans

1891168

(1 балл) Найдите в каких столбцах присутствуют пропуски:

In [283]:
quantity_skips = diamonds.isnull().sum()
ans = []
for name_column in diamonds.columns.values.tolist()[1:]:
    if not diamonds[name_column].value_counts().get('unknown', 0) or not quantity_skips[name_column]:
      ans.append(name_column)
print(*ans)
# len(diamonds.columns.values.tolist()) - len(ans) # = 3

cut color clarity carat_weight cut_quality lab symmetry polish eye_clean culet_size culet_condition depth_percent table_percent meas_length meas_width meas_depth girdle_min girdle_max fluor_color fancy_color_dominant_color fancy_color_secondary_color fancy_color_intensity total_sales_price

В нашем датасете присутствуют колонки, которые начинаются с `fancy_color_` или `fluor_`. Большинство значений в этих колонках - `unknown` или `None`, поэтому мы считаем их малоинформативными.

Ваша задача:

1. (0.5 балла) найти количество таких колонок, которые начинаются с `fancy_color_` или `fluor_`:

In [284]:
spec_columns = []
for name_column in diamonds.columns.values.tolist():
  if name_column.startswith('fancy_color_') or name_column.startswith('fluor_'):
    spec_columns.append(name_column)
len(spec_columns)

6

2. (0.5 балла) найти количество информативных (не `None` или `unknown`) значений в этих колонках:

In [285]:
ans = 0
for name_column in spec_columns:
  q = diamonds[name_column].value_counts()
  ans += sum(q) - q.get('unknown', 0)
ans

111586

3. (0.5 балла) удалить данные колонки из датасета, сохранив изменения (в дальнейшем работаем измененным датасетом):

In [286]:
# your code here

(1 балл) Проделайте тоже самое для колонок, начинающихся с `culet_`:

In [287]:
# your code here

(1 балл) Посчитайте сколько бы стоил (в тысячах долларов) сейф, в котором хранились бы все бриллианты из датасета:

In [288]:
# your code here

Немного необоснованных манипуляций.

(1 балл) Выберите из датасета строки с четными индексами и выведете значения (не меняя нумерацию индексов):

In [289]:
# your code here

(0.5 балла) А теперь с индексами, кратными 6:

In [290]:
# your code here

(1 балл) Выберете из датасета только категорильные признаки и выведете датасет:

In [291]:
# your code here

>**Примечание**
>
>Данный датасет можно использовать для задания 3 (с использованием `sklearn`)

(0.5 балла) Выберете столбец с данными о цене бриллиантов и домножите его на тот столбец, только транспонированный, и выведите полученную матрицу:

In [292]:
# your code here

### Построение графиков

**Требования к графику:**

1.   График должен быть подписан
2.   Оси должны быть подписаны
3.   Должна быть легенда графика
4.   График должен быть информативным (желательно без сильных выбросов)

**Все надписи на русском языке!**

>**Примечание**
>
>График необходимо строить для очищенных данных - в них не должно быть пропусков по осям, по которым строите график. При этом **не перезатирайте** имеющийся датафрейм!

(2 балла) Постройте график `цвет бриллианта - стоимость`:

In [293]:
# your code here

(2 балла) Постройте график `лабараторная оценка - кол-во бриллиантов`:

In [294]:
# your code here

(2 балла) Постройте график `вес бриллианта - стоимость`:

In [295]:
# your code here

(2 балла) Постройте график `система оценки GIA Cut - кол-во бриллиантов`:

In [296]:
# your code here

(2 балла) **Сделайте выводы по построенным графикам:**

>*Подсказка для маленьких: Что вы можете сказать о графиках полученных выше для данного датасета?*

Ваши выводы здесь :)

## Задание 3. Модель - 30 баллов

В данном задании вам предстоит построить классифицирующую модель размер алмаза и его стоимости, а затем оценить полученную модель.

>**Примечание**
>
>Данная модель не претендует на самый верный индикатор стоимости алмаза, ведь мы не учитываем ничего больше чем стоимость алмаза. Исключительно для образовательных целей :)

Для построения модели нам понадобится 4 столбца, а именно: 
- `meas_length`
- `meas_width`
- `meas_depth`
- `total_sales_price`

От остальных столбцов можно избавиться.

(1 балл) Создайте новый датасет и выведите его первые 10 строк:

In [297]:
dataset = diamonds.drop(columns = list(filter(
    lambda x : x not in ['meas_length', 'meas_width', 'meas_depth', 'total_sales_price'],
    diamonds.columns.values.tolist())))
dataset.head(10)

   meas_length  meas_width  meas_depth  total_sales_price
0         2.85        2.87        1.79                200
1         2.84        2.89        1.78                200
2         2.88        2.90        1.77                200
3         2.86        2.88        1.78                200
4         2.79        2.83        1.82                200
5         2.95        2.99        1.81                200
6         2.85        2.88        1.84                200
7         2.86        2.89        1.78                200
8         2.89        2.92        1.85                200
9         2.83        2.87        1.80                200

(1 балл) Перемешайте строки в датафрейме случайным образом:

In [298]:
dataset = dataset.sample(frac=1)
dataset

        meas_length  meas_width  meas_depth  total_sales_price
125347         5.05        5.07        3.16               2608
139062         5.52        5.58        3.56               3360
156708         5.69        5.72        3.47               4223
28385          4.26        4.30        2.67                798
38244          4.20        4.22        2.70                852
...             ...         ...         ...                ...
11980          3.71        3.74        2.24                652
58190          4.28        4.31        2.71                982
30171          4.44        4.46        2.80                790
87755          4.75        4.79        2.96               1286
46300          4.52        4.53        2.73                900

[219703 rows x 4 columns]

(1 балл) Сформируем новую колонку - для каждого бриллианта найдем сумму Минковского (p=3) по 3 измерениям бриллианта:

In [299]:
dataset['sum_minkovsky'] = abs(dataset['meas_length'] - dataset['meas_width'])**3 + abs(dataset['meas_length'] - dataset['meas_depth'])**3 +  abs(dataset['meas_width'] - dataset['meas_depth'])**3
dataset.head(10)
# почему именно так: https://t.me/c/1554030970/870

        meas_length  meas_width  meas_depth  total_sales_price  sum_minkovsky
125347         5.05        5.07        3.16               2608      13.719148
139062         5.52        5.58        3.56               3360      15.772160
156708         5.69        5.72        3.47               4223      22.331700
28385          4.26        4.30        2.67                798       8.350490
38244          4.20        4.22        2.70                852       6.886816
118051         4.34        4.17        3.19               2324       2.466980
49756          4.51        4.53        2.85                934       9.315936
10435          3.72        3.74        2.30                636       5.849280
146742         7.93        5.15        2.79               3630     170.425952
146892         5.68        5.50        3.92               3637       9.401920

(1 балл) Сформируем новый датасет из двух колонок - сумма Минковского и `total_sales_price`:

In [300]:
new_dataset = dataset.drop(columns = ['meas_length','meas_width',	'meas_depth'])
new_dataset.head(10)

        total_sales_price  sum_minkovsky
125347               2608      13.719148
139062               3360      15.772160
156708               4223      22.331700
28385                 798       8.350490
38244                 852       6.886816
118051               2324       2.466980
49756                 934       9.315936
10435                 636       5.849280
146742               3630     170.425952
146892               3637       9.401920

(1 балл) Разделите вашу выборку на две части в соотношении 8:2 - одна выборка будет для тренировка, а другая для тестов вашей модели:

In [301]:
# your code here

(2 балла) Постройте график зависимости стоимости от вашего нового параметра размера для тренинг-выборки:

In [302]:
# your code here

(2 балла) Нанесите на тот же график тестовую выборку, используя другой цвет (не забудьте про параметр прозрачности):

In [303]:
# your code here

(3 балла) Найдите для каждой бриллианта из тестовой выборки его "ближайшего соседа" из тренинг-выборки. Для каждого бриллианта из тестовой выборки найдите расстояния до соответствующего ближайшего соседа:

In [304]:
# your code here

(3 балла) Найдите насколько сильно (в процентах) отличается цена бриллиантов из тестовой выборки от их соответствующих ближайших соседей:

In [ ]:
# your code here

**Данная модель является выдумкой автора. Не важен коэффициент ошибки, важны ваши шаги для получения коэффициента.**

### Введение в машинное обучение

Теперь давайте познакомимся с таким сильным инструментом как `sklearn`.

Вам необходимо:
1. выбрать 2 категориальных признака
2. на их основе обучить решающее дерево
3. оценить среднеквадратичную ошибку цены бриллианта
4. сделать пп. 1-3 и выбрать ту пару, которая дает лучший результат
5. сделать выводы

(3 балла) Мы работаем с категориальными признаками, для них не понятно что есть "больше" и "меньше". Поэтому нам нужно предварительно закодировать значения наших признаков, с чем нам поможет [OneHotEncoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html):

In [ ]:
# your code here

(3 балла) Разбейте датасет на обучающую и тестовую выбору. Для этого вам поможет [train_test_split](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html):

In [ ]:
# your code here

(3 балла) Затем создайте и обучите вашу модель - [DecisionTreeRegressor](https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeRegressor.html):

In [ ]:
# your code here

(3 балла) Оцените ошибку вашей модели при помощи [mean_squared_error](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_squared_error.html):

In [ ]:
# your code here

(3 балла) **Сделайте выводы какие категориальные признаки лучше:**

*Подсказки для маленьких: Что вы можете сказать о зависимости по вашей выборке признаков? Какой вы можете сделать вывод об готовых инструментах для работы и написанных Вами?*

Ваши выводы здесь :)